[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
django-heroku = "*"
"psycopg2" = "*"
django = "*"
dj-database-url = "*"
"django-bootstrap4" = "*"
reportlab = "*"

[dev-packages]
faker = "*"
pylint = "*"
ptvsd = "*"
"pep8" = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
