<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block title %}
    <title>Centre de théorie</title>
    {% endblock %}
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full'%}
</head>

<body>

    <div class="container-fluid">
        {% block navbar %}
        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
            <h5 class="my-0 mr-md-auto font-weight-normal">Centre de théorie{% block where %}{% endblock %}</h5>
            <nav class="my-2 my-md-0 mr-md-3">
                {% block navitems %}{% endblock %}
            </nav>
        </div>
        {% endblock %}
        {% block content %}{% endblock %}
    </div>
</body>

</html>